<div className="mt-6 break-inside-avoid">
  <p className="text-[10px] text-gray-500">
    The Lipid Profile is a group of blood tests that assess different types of
    cholesterol and triglycerides in the blood. These tests collectively provide
    insights into a person's lipid levels, which are crucial for heart health
    and cardiovascular disease risk assessment.
    <vr></vr>
    Here's why these tests, when considered together, are important:
  </p>
  <ul className="list-disc list-inside text-[10px] text-gray-500">
    <li>
      Cholesterol-Total: Total cholesterol levels help assess overall
      cholesterol in the blood. Elevated levels might indicate an increased risk
      of heart disease.
    </li>
    <li>
      Cholesterol-HDL Direct: HDL cholesterol is considered "good" cholesterol
      that helps remove excess cholesterol from the bloodstream. Low levels can
      be associated with an increased risk of heart disease.
    </li>
    <li>
      LDL Cholesterol: LDL cholesterol is often referred to as "bad"
      cholesterol. Elevated levels might lead to the accumulation of cholesterol
      in arteries, increasing heart disease risk.
    </li>
    <li>
      LDL Cholesterol: LDL cholesterol is often referred to as "bad"
      cholesterol. Elevated levels might lead to the accumulation of cholesterol
      in arteries, increasing heart disease risk.
    </li>
    <li>
      Non - HDL Cholesterol, Serum: Non-HDL cholesterol includes all forms of
      cholesterol except HDL. It's considered a better predictor of heart
      disease risk than total cholesterol alone.
    </li>
    <li>
      VLDL Cholesterol: VLDL cholesterol is a type of lipoprotein that carries
      triglycerides. Elevated levels can contribute to heart disease risk.
    </li>
  </ul>
  <p className="text-[10px] text-gray-500 mb-10">
    Collectively, the Lipid Profile provides valuable information about an
    individual's risk for heart disease and cardiovascular issues.
    Interpretation of these lipid levels, combined with other risk factors and
    clinical context, guides medical decisions for preventing or managing heart
    disease.
  </p>
  <br />
  <br />
  <p className="text-[10px] text-gray-500">
    <i>
      Note: The blood parameters testing is powered by our testing facility:
      Previa Labs.
    </i>
  </p>
</div>
